**Variables & Datatypes**

In [12]:
# Must start with letter or underscore
# Can have numbers but not at the beginning
# Variable names are case sensitive
x = 2
y = 1.3
s = 'String'
b = False

x, y, s, b = (1, 2.3, True, "Andy")
print(type(x))
print(type(y))
print(type(s))
print(type(b))

<type 'int'>
<type 'float'>
<type 'bool'>
<type 'str'>

**Type Casting**

In [47]:
a = int("1245")
print(type(a))
print(a)

b = float("12.345")
print(type(b))
print(b)

c = int(1.5)
print(type(c))
print(c)

d = float(c)
print(type(d))
print(d)

<type 'int'>
1245
<type 'float'>
12.345
<type 'int'>
1
<type 'float'>
1.0

**Get Input from user**

In [ ]:
x = input("Enter your name: ")
print(type(x))

**If Conditions**

In [27]:
x = 15

# if
if x > 20:
  print("Yes")

# if - else
if x > 20:
  print("Yes")
  print("Yes1")
else:
  if x > 10:
    print("No")
  else:
    print("No1")


# elif
if x > 20:
  print("Yes")
  print("Yes1")
elif x > 10:
  print("No")
else:
  print("No1")

No

**Loops**

In [44]:
# for loop
for i in range(5):
  print(i)

print("")

# while loop
i = 0
while i < 5:
  print(i)
  i += 1

0
1
2
3
4

0
1
2
3
4

**Functions**

In [43]:
def func(name):
  s = "Hello " + name
  return s


res = func("Andy")
res1 = func("Sam") 
print(res)
print(res1)

Hello Andy
Hello Sam

**Concatenate Strings**

In [57]:
x = "Hello"
y = "World"
z = x + " " + y + "!"
print(z)

a = 22
print("I am " + str(a) + " years old")
print("I am {age} years old".format(age=a))

Hello World!
I am 22 years old
I am 22 years old